*{
   padding: 0px;
   margin: 0px; 
}
.container{
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F2F2;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.TitleBar__Nostra{
   text-shadow: 3px 3px 6px rgba(2,0,0,0.3);
   font-size:42px;
}
.TitleBar__two{
    display: flex !important;
    gap:100px;
}
.TitleBar__two__Home,.TitleBar__two__New,.TitleBar__two__Most,.TitleBar__two__collections,.TitleBar__two__collections{
    color: gray;
    text-decoration: none;
    font-size:20px;
}
.TitleBar__two__Home:hover,.TitleBar__two__New:hover,.TitleBar__two__Most:hover,.TitleBar__two__collections:hover,.TitleBar__two__collections:hover{
    color: black;
    text-decoration: underline;
}
.sliderbar{
    padding: 0 20px
}
.sliderbar__one{
   position: relative; 
   width: 100%;
   height: 400px;
   border-radius: 10px;
   opacity: 0.6;
   background: rgba(0,0,0,0.55);
   object-fit: cover; 
}
.sliderbar__text{
    position: absolute;
    display: flex;
    flex-direction: column;
    top:160px;
    left:300px;
    align-items: center;
    color: black;
    font-size:72px;
    font-weight: 900;
}
.sliderbar__text__Shop{
   font-size:30px; 
   background-color: black;
   color: white;
   border-radius: 2px;
}
.sliderbar__text__Shop:hover{
    cursor: pointer;
    color: violet;
}
.sliderbar__Arrow{
    color: black;
    font-size:80px;
}
.sliderbar__Arrow:hover{
    cursor: pointer;
}
.sliderbar__Arrow__left{
    position: absolute;
    display: flex;
    top: 230px;
    left: 20px;
}
.sliderbar__Arrow__right{
    position: absolute;
    display: flex;
    top: 230px;
    right: 20px;
}
.Brands__Bar{

}
.Brands__title{
    margin-top:10px;
    margin-left:12px;
    font-weight:bold;
    font-size:25px;
}
.Brands__logo{
    margin-top: 10px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}
.Brands__logo img{
    width:60px;
}
.Expereiences{
    margin-left: 20px;
    margin-top:30px;
    display: flex;
    align-items: center;
    gap:300px;
}
.Expereiences__Text{
    width:600px;
    font-size:50px;
    font-weight: 900;
}
.Expereiences__Text__Two{
    font-size: 27px;   
}
.Review{
    margin-left:20px;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.Review__one{
    border: solid transparent 1px;
    background-color:#F2F4F7;
    width:400px;
    height:200px;
}
.Review__two{
    border: solid transparent 1px;
    background-color:#F2F4F7;
    width:400px;
}
.Review__three{
    border: solid transparent 1px;
    background-color:#F2F4F7;
    width:400px;
}
.Review__four{
    border: solid transparent 1px;
    background-color:#F2F4F7;
    width:400px;
}
.New__Arrivals__text{
    margin-top:10px;
    margin-left:12px;
    font-weight:bold;
    font-size:25px;
}
.New__Arrivals__Images{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 60px;
}
.New__Arrivals__Images img{
    
    border-radius: 10px;
    object-fit: cover;
    width:320px;
    height:300px;
}
.Image__container,.Image__container__two,.Image__container__three,.Image__container__four{
    display: flex;
    text-align: center;
}
.Image__container:hover,.Image__container__two:hover,.Image__container__three:hover,.Image__container__four:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.Button__one,.Button__two,.Button__three,.Button__four{ 
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}
.Button__one:hover,.Button__two:hover,.Button__three:hover,.Button__four:hover{
    background-color: black;
    color: yellow;
}
.Button__one{
    position: absolute;
    
}
.Button__two{
    position: absolute;
    
}
.Button__three{
    position: absolute;
   
}
.Button__four{
    position: absolute;
}
.Most__Wanted{
    margin-top: 10px;
    margin-left: 12px;
}
.Most__Wanted__text{
    font-weight:bold;
    font-size:25px;
}
.Most__Wanted__Images{
    display: flex;
    position: relative;
    justify-content: center;
    gap: 60px;
}
.Most__Wanted__Images img{
    border-radius: 10px;
    object-fit: cover;
    width:320px;
    height:300px;
}
.Most__Wanted__Images__container,.Most__Wanted__Images__container__two,.Most__Wanted__Images__container__three,.Most__Wanted__Images__container__four{
    display: flex;
    text-align: left;
     
}
.Most__Wanted__Images button{
    background-color: red;
    color: white;
    position:absolute;
    margin-top:120px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transform: translateY(200px);
    transform: translateX(120px);
}
.Most__Wanted__Images__container:hover,.Most__Wanted__Images__container__two:hover,.Most__Wanted__Images__container__three:hover,.Most__Wanted__Images__container__four:hover{
    opacity: 0.5;
    cursor: pointer;
}
.Final__Image__Bar{
   display: flex;
   margin-top: 30px;
   margin-left: 20px;
   margin-right: 10px;
   justify-content: space-around;
   background-color:#1D232C;
}
.Final__Image__Bar img{
    object-fit: cover;
    margin-top:30px;
    width:550px;
    height:300px;
    margin-bottom:20px;
}
.Final__Image__Bar__Text{
    position: relative;
    margin-top: 80px;
    color: white;
}
.Final__Image__Bar__Text h1{
    font-size:65px;
}
.Final__Image__Bar__Button{
  
}
.Final__Image__Bar__Button button{
    width: 100px;
    height: 50px;
    margin-top:110px;
    background-color: yellow;
}
.Join__section{
    transform: translateY(100px);
}
.Join__section__Text{
    display: flex;
    justify-content: center;
    font-size:30px;
    display: flex;
}
.Join__section__Text__Two{
    font-size:40px;
    display: flex;
    justify-content: center;
}
.Join__section__Text__Ip{
    transform: translateY(20px);
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    height:50px;
}
.Join__section__Text__Ip input{
     width: 100%;
}
.Join__section__subscribe{
    display: flex;
    transform: translateY(40PX);
    justify-content: center;
}
.Join__section__subscribe button{
    width: 150px;
    height: 50px;
    background-color: #1D232C;
    color: white;
}
.Final__Navbar{
    background-color: #1D232C;
}
.Final__Navbar_Text{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top:160px;
    margin-left: 10px;
    font-size: 32px;
}
.Final__Navbar_logo{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.Final__Navbar_logo img{
    width:20px;
}
.Final__Navbar_Text__Two{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 10px;
    color: yellowgreen;
}
.searchbar{
    transform: translateY(40px);
    display: flex;
    justify-content: right;
} 
.searchbar input{
    display: flex;
    align-items: center;
    position: relative;
    border:solid 2px gray;
    width: 80%;
    height:30px;
    border-radius:10px;
}
.searchbar input::placeholder{
     padding-left: 5px;
}
.fa-magnifying-glass{
    position: absolute;
    right: 10px;
    top:6px;
}
/* Top-Bar */
.top-bar {
    background-color: #1e242d;
    color: white;
    padding: 12px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    font-size: 18px;
}

.top-bar p {
    margin: 0;
}

.close-btn {
    position: absolute;
    right: 25px;
    font-size: 24px;
    cursor: pointer;
}
.shop-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
    width: 95%;
    margin: auto;
    margin-top: 20px;
}
.filter-box {
    background: white;
    padding: 20px;
    border-right: 1px solid #ddd;
}
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 40px;
}
.product img {
    width: 100%;
    height: 300px;        
    object-fit: cover;    
    border-radius: 5px;
}
.product h2 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 12px;
}
.product p {
    margin-top: 5px;
    color: #555;
}
body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.contact-container {
    background: #151c26;         /* dark section */
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 40px;
    border-radius: 5px;
    color: white;
}

.contact-container h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

.contact-container label {
    font-size: 18px;
    margin-bottom: 8px;
    display: block;
}

.contact-container input,
.contact-container textarea {
    width: 100%;
    background: white;
    border: none;
    padding: 18px;
    border-radius: 5px;
    margin-bottom: 25px;
    font-size: 16px;
}

.submit-btn {
    background: #0057d8;
    border: none;
    padding: 10px 25px;
    color: white;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background: #024cb8;
}
.icons{
    display: none;
}
@media (max-width: 600px){
   .icons{
    display: block;
   }
}

@media (max-width: 900px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .products {
        grid-template-columns: 1fr;
    }
}
